<div class="card-category mt-5">
  Save any kind of movies
</div>

<div class="container mt-5 d-flex justify-content-between">
  <h2>My lists</h2>
  <%= link_to "Create a movie list", new_list_path, class:"btn btn-flat" %>
</div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4 mt-4">
        <div class="card-category">
          <%= link_to list.name, list_path(list), class:"text-white text-decoration-none" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
