<header class="navbar bg-white p-3 fixed-top border-bottom border-5">
  <%= link_to "My lists", lists_path, class: "fw-bold text-decoration-none text-dark" %>
  <%= link_to "New list", new_list_path, class: "fw-bold text-decoration-none text-dark" %>
</header>

<div class="mt-5">
</div>
